a+a {
	margin-left: 10px;
}
.readme{margin-top: 50px;    margin-bottom: 30px;    font-family: "Times New Roman", serif;    font-size: 30;    text-align: justify;    max-width: 750;    margin-left: auto;    margin-right: auto;
}